/*自定义红色主题-皮肤*/

/*
 * 1、顶部navbar颜色
 */
.sundown-red .top-navbar .el-menu {
  background-image: url('/static/image/beautify/sakura.png') !important;
}

/*
 * 2、侧边栏
 */
.sundown-red .left-sidebar {
  background-color: #fee4d7;
}
.sundown-red .left-sidebar .el-menu {
  background-color: #fee4d7;
}

.sundown-red .left-sidebar .el-menu-item:hover,
.sundown-red .left-sidebar .el-menu-item:focus,
.sundown-red .left-sidebar .el-submenu__title:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sundown-red .left-sidebar .el-menu-item {
  color: #fff;
}
.sundown-red .left-sidebar .el-menu-item.is-active {
  color: #f35d5d;
}
.sundown-red .left-sidebar .el-menu-item.is-active i {
  color: #f35d5d;
}

/**
 * 3、tabs-view
 */
.sundown-red .tabs-view-container .tags-view-item.active .el-tag {
  background-color: #fee4d7;
}

.sundown-red .app-breadcrumb.el-breadcrumb .no-redirect {
  color: #f35d5d !important;
}
.sundown-red .tabs-view-container .tags-view-item.active .el-tag {
  color: #f35d5d;
}
.sundown-red .sidebar-title {
  color: #f35d5d !important;
}
