.pattern-center-blank {
  padding-top: 75px;
  background-color: #fff;
}
.pattern-center {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.pattern-attachment-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-origin: border-box;
  width: 100%;
  height: 400px;
}
.single-header {
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  top: auto;
  bottom: 20px;
}
.pattern-center header.pattern-header {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 1;
}
.pattern-center h1.entry-title {
  color: #fff;
  font-weight: 500;
  padding: 0;
  border: 0;
}
.single-center .entry-census {
  color: #fff;
  font-size: 14px;
  padding: 18px 0 0;
  line-height: 39px;
}
.entry-census {
  margin: 0;
}
.single-center .entry-census {
  color: #fff;
  font-size: 14px;
  line-height: 39px;
}
.single-center .entry-census a {
  color: #fff;
}
.single-center .entry-census span img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  float: left;
  margin-right: 12px;
}
.single-center .entry-census .bull {
  margin: 0 5px;
}
