@import './sidebar.css';
@import './transition.scss';
@import './variables.scss';
@import './btn.scss';
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  cursor: url(/static/cur/normal.cur), auto;
}

html {
  box-sizing: border-box;
}
.v-modal {
  z-index: 999 !important;
}
/* 机器数字 */
.digital-number {
  font-family: digital;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  cursor: url(/static/cur/ayuda.cur), auto;
}

a:focus,
a:active {
  outline: none;
}

ul,
li {
  list-style: none;
}

ul {
  padding: 0;
}
div {
  outline: none;
  cursor: url(/static/cur/normal.cur), auto;
}
.text-center {
  text-align: center;
}
a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a span i {
  cursor: url(/static/cur/normal.cur), auto;
}

a {
  cursor: url(/static/cur/ayuda.cur), auto !important;
}

.el-menu-item,
.el-submenu__title {
  cursor: url(/static/cur/normal.cur), auto !important;
}
.el-menu-item:focus,
.el-submenu__title:focus {
  cursor: url(/static/cur/No_Disponible.cur), auto !important;
}

img:hover {
  cursor: url(/static/cur/No_Disponible.cur), auto;
}

li div:hover {
  cursor: url(/static/cur/No_Disponible.cur), auto;
}

a:active {
  cursor: url(/static/cur/work.cur), auto !important;
}

input {
  cursor: url(/static/cur/normal.cur), auto !important;
}

span i {
  cursor: url(/static/cur/normal.cur), auto !important;
}

p {
  /* margin: 0; */
  cursor: url(/static/cur/texto.cur), auto;
}

li {
  list-style: none;
}

li:hover {
  cursor: url(/static/cur/normal.cur), default;
}

.clearFix::before,
.clearFix::after {
  content: '';
  display: block;
  clear: both;
}

/*  chrome，safari滚动条 */
::-webkit-scrollbar {
  width: 0px;
}

/* ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top,
      #d5dee7 0%,
      #ffafbd 0%,
      #c9ffbf 100%);
}

::-webkit-scrollbar-track {
  background-color: #eee;
} */

.content-header {
  background-image: url('/static/image/center-bg.png');
}

.card-mine li {
  margin-bottom: 10px !important;
}

button:focus {
  outline: none;
  box-shadow: none;
}

button {
  cursor: url(/static/cur/No_Disponible.cur), auto !important;
}

.content {
  width: 100%;
  position: relative;
  transition: padding 0.5s;
  margin-bottom: 30px;
}

.content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -58px;
  padding-top: 68px;
  padding-bottom: 58px;
  overflow: hidden;
  box-shadow: 0 0px 0 rgb(67, 47, 40), 0 0 15px #412f1c,
    0 1px 3px rgba(0, 0, 0, 0.05);
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.content-heading {
  font-weight: 300;
  color: #fff;
  font-size: 44px;
  line-height: 48px;
  margin-top: 48px;
  margin-bottom: 12px;
}

.list {
  margin-bottom: 48px;
  margin-right: -10px;
  margin-left: -10px;
  padding-left: 16px;
  padding-right: 16px;
}

.card {
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0px 0 #e5e5e5, 0 0 15px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}

.card-main {
  width: 100%;
  margin: 24px 16px;
}

.card-inner {
  margin: 12px 0;
  margin: 24px 16px;
}

.card-inner li {
  line-height: 20px;
}
.grey_bg {
  padding: 30px 20px 0px 20px !important;
  background: #f0f2f5;
}
.white_bg {
  padding: 30px 20px 20px 20px !important;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}
