/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 0.5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.main-app {
  overflow: hidden;
}
/*elementUi*/
.el-menu-item i {
  color: rgb(191, 203, 217);
}
.el-menu {
  border: 0;
}
.el-submenu .el-menu-item {
  min-width: 200px !important;
  background-color: #1f2d3d !important;
}

.left-sidebar .el-submenu__title {
  color: rgb(191, 203, 217);
}
.el-submenu__title:hover {
  background-color: #263445 !important;
}
.left-sidebar .el-submenu__title i {
  color: rgb(191, 203, 217);
}
.left-sidebar .el-menu-item {
  color: rgb(191, 203, 217);
}
.left-sidebar .el-menu-item i {
  color: rgb(191, 203, 217);
}
.el-menu--vertical .nest-menu a li {
  color: rgb(191, 203, 217);
}
.el-menu--vertical .nest-menu a .is-active {
  color: #409eff;
}

.el-menu--vertical .nest-menu .el-submenu.el-menu-item {
  color: rgb(191, 203, 217);
}
.el-menu--vertical .nest-menu .el-submenu.el-submenu__title i {
  color: rgb(191, 203, 217);
}
.left-sidebar .el-menu-item.is-active {
  color: rgb(64, 158, 255);
}
.left-sidebar .el-menu-item.is-active i {
  color: rgb(64, 158, 255);
}
.left-sidebar .el-menu-item:hover,
.left-sidebar .el-menu-item:focus:hover {
  background-color: #263445 !important;
}
.el-menu-item:focus,
.el-menu-item:hover {
  outline: 0;
  background-color: transparent !important;
}
.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #263445 !important;
}
.el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}
.hideSidebar .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}
/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all 0.5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all 0.5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
.hideSidebar .left-sidebar {
  width: 64px !important;
}
.hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
.hideSidebar .main-container {
  margin-left: 64px !important;
}
.main-container {
  transition: margin-left 0.28s;
}
