.header_top {
  position: relative;
  overflow: hidden;
}

.header_top::before {
  background-image: url(/static/image/beautify/grid_line.png);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-attachment: fixed;
}

#centerBg {
  width: 100%;

  height: 550px;
  margin: 0;
  padding: 0;
  background-image: url(https://www.qdmmz.cn/wp-content/themes/Sakura/cover/index.php);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.focus_info {
  position: relative;
  max-width: 800px;
  padding: 0 10px;
  top: 49.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 99;
  -webkit-transition: 0.4s ease all;
  -moz-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
  user-select: none;
}

.header_avatar {
  text-align: center;
}

.header_avatar img {
  box-shadow: inset 0 0 10px #000;
  padding: 5px;
  opacity: 1;
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transition: all ease 1s;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  width: 130px;
  height: 130px;
  border-radius: 100%;
}
.h_user_avatar img {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transition: all linear 1.5s;
  -webkit-transition: all linear 1.5s;
  -moz-transition: all linear 1.5s;
  -o-transition: all linear 1.5s;
  border-radius: 100%;
}

.header_avatar img:hover,
.h_user_avatar img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.header_info {
  width: 63%;
  margin: auto;
  font-size: 16px;
  color: #eaeadf;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin-top: 22px;
  letter-spacing: 0;
  line-height: 30px;
  border-radius: 10px;
  box-sizing: initial;
  white-space: nowrap;
}

.header_info p {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
}

.social_media {
  height: 32px;
  margin-bottom: -15px;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
}

.social_media li {
  float: left;
  margin-right: 13px;
}

.social_media li img {
  height: 35px;
  width: 35px;
  padding: 6px;
  background: 0 0;
  box-sizing: border-box;
}

.left_arrow {
  transform: scaleX(-1);
}

.wrapper {
  animation: fade-in;
  animation-duration: 0.5s;
  -webkit-animation: fade-in 0.5s;
}

.site_header {
  width: 100%;
  height: 75px;
  background: 0 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: fixed;
  z-index: 9999;
  top: 0;
}
.site_header:hover {
  background: rgba(255, 255, 255, 0.95);
}

.site_header::after,
.site_header::before {
  content: '';
  display: table;
  table-layout: fixed;
}

.site_header::after {
  clear: both;
}

.shadow {
  position: fixed;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
}

.site_top {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}

.site_branding {
  float: left;
  position: relative;
  height: 75px;
  line-height: 75px;
  margin-left: -6px;
}

.site_branding a {
  color: #464646;
  float: left;
  font-size: 20px;
  font-weight: 800;
  height: 56px;
  line-height: 56px;
  padding-left: 35px;
  padding-right: 15px;
  padding-top: 11px;
  text-decoration-line: none;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}

.site_branding a:hover {
  color: #fe9600;
}

.site_branding a span {
  font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif',
    source-han-serif-sc, 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia,
    serif;
}

.h_user_avatar,
.searchbox,
.site-top .lower {
  animation: searchbox 1s;
}

.h_user_avatar {
  position: relative;
  float: right;
  margin-left: 20px;
  margin-top: 22px;
}

.h_user_avatar img {
  width: 30px;
  height: auto;
  border-radius: 100%;
  cursor: pointer;
}

.h_user_avatar,
.search_box,
.site-top .lower {
  animation: searchbox 1s;
}

.search_box {
  float: right;
  height: 75px;
  line-height: 75px;
  margin-left: 20px;
}

.search_box .icon-search {
  color: #666;
  cursor: pointer;
  font-size: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.icon-search:hover {
  color: #fe9600;
}

.lower {
  position: relative;

  float: right;
  font-size: 16px;
}

.site-top .lower nav {
  display: block !important;
  position: relative;
  float: right;
  display: none;
  animation: searchbox 0.2s;
}

section {
  font-family: 'Merriweather Sans', Helvetica, Tahoma, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft Yahei', 'WenQuanYi Micro Hei', sans-serif;
}

.menu ul li {
  float: left;
  margin-left: 28px;
  position: relative;
}

.menu a {
  padding: 10px 0;
  display: inline-block;
  color: #666;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.menu a:hover {
  color: #fe9600 !important;
}
.header_user_menu {
  position: absolute;
  width: 110px;
  right: -11px;
  text-align: left;
  background: 0 0;
  top: 44px;

  overflow: hidden;
  animation: header-user-menu 0.4s;
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}
.header_user_name {
  font-size: 12px;
  background: #fff;
  padding: 10px 10px;
  border-radius: 4px 4px 0 0;
}
.userName {
  font-weight: 700;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}
.menu_option {
  padding: 5px 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: 130px;
}
.menu_option a {
  display: block;
  padding: 6px 10px;
  margin: 2px 0;
  width: 110px;
  text-align: left;
  color: #333;
  font-size: 13px;
  text-align: center;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.menu_option a:hover {
  background-color: #f1f1f1;
}
.header_user_menu ::before {
  content: '';
  position: fixed;
  top: 46px;
  right: 25px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
/* 动画 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* 搜索 */
.is-visible {
  visibility: visible !important;
  opacity: 0.99 !important;
  background-image: url(/static//image//beautify/iloli.gif) !important;
  background-repeat: no-repeat !important;
  background-position: bottom right !important;
}
.search_inner {
  max-width: 640px;
  padding: 0 20px;
  margin: auto;
  text-align: left;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  height: 285px;
  top: 0;
  bottom: 0;
}
.search_model {
  transition: visibility 0.35s ease, opacity 0.35s ease;
  overflow: hidden;
  z-index: 9999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  visibility: hidden;
  opacity: 0;
}
.micro {
  position: relative;
}
.micro p {
  padding-left: 24px;
}
.micro span {
  font-size: 2rem;
  line-height: 1;
  color: #ddd;
  position: absolute;
  bottom: 15px;
  margin-top: -16px;
  left: 16px;
}
.search_inner input {
  font-size: 24px;
  font-size: 1.5rem;
  background: #fff;
  padding: 12px 24px 12px 64px;
  width: 100%;
  outline: 0;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #666;
  border: 1px solid #ccc;
}

/* 关闭搜索X */
.search_close {
  position: absolute;
  width: 35px;
  height: 35px;
  background: 0 0;
  top: 20px;
  right: 15px;
  cursor: pointer;
}
.search_close::before,
.search_close::after {
  background-color: #222;
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  top: 17px;
  left: 2px;
}
.search_close:before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.search_close:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.page_content {
  max-width: 800px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.8);
}
.p_notice {
  margin-top: 60px;
  padding: 20px;
  border: 1px dashed #e6e6e6;
  color: #969696;
  position: relative;
  display: inline-block;
  width: 100%;
  background: #fbfbfb50;
  border-radius: 10px;
  text-align: center;
}
.p_notice i {
  float: left;
  color: #999;
  font-size: 18px;
  padding-right: 10px;
}
.p_notice p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.feature {
  width: 100%;

  margin-top: 55px;
  height: auto;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome !important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1.fes-title,
h1.main-title {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #ececec;
}
.f_image {
  display: inline-block;
  margin-right: 6px;
}
.from_right_left {
  position: relative;
  height: 160px;
  width: 253px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 10px;
}
.the_feature {
  transition: all 0.35s ease-in-out;
}
.the_feature a {
  color: #333;
  outline: 0;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.the_feature .img .f_imgs {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 160px;
  width: 257px;
}
.the_feature :hover .f_imgs {
  transform: scale(1.2);
}
.the_feature .info {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.the_feature .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111;
  margin: 30px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.the_feature .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  -webkit-transition: all 0.35s 0.1s linear;
  -moz-transition: all 0.35s 0.1s linear;
  transition: all 0.35s 0.1s linear;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  margin-bottom: 1.5rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.left,
.right {
  -webkit-transform: translateX(0%) !important;
  -moz-transform: translateX(0%) !important;
  -ms-transform: translateX(0%) !important;
  -o-transform: translateX(0%) !important;
  transform: translateX(0%) !important;
}
.left {
  font-weight: 600;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
}
.content-main {
  padding: 40px 0 0;
}
.main-title {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #ececec;
}
.content-main h1 {
  margin: 0.67em;
  margin-bottom: 32px;
}
.post-list-show {
  animation: post-list-show 0.5s;
  -webkit-animation: post-list-show 0.5s;
  opacity: 1;
}
.post-list-thumb {
  float: left;
  width: 100%;
  height: 300px;
  position: relative;
  margin: 20px 0 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 20px -8px rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
}
.post-list-thumb-left .post-thumb {
  float: left;
}
.post-thumb {
  float: right;
  width: 55%;
}
.post-list-thumb-left .post-thumb a {
  border-radius: 10px 0 0 10px;
}

.post-thumb a {
  height: 300px;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
}
.post-list-thumb a {
  color: #504e4e;
}
a {
  color: #e67474;
  outline: 0;
  -webkit-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  -moz-transition: color 0.2s ease-out, border 0.2s ease-out,
    opacity 0.2s ease-out;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.post-thumb a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}
img {
  height: auto;
  max-width: 100%;
}
.post-list-thumb-left .post-content-wrap {
  float: left;
  padding-left: 30px;
  padding-right: 0;
  text-align: right;
  margin: 20px 10px 10px 0;
}

.post-content-wrap {
  position: relative;
  display: inline-block;
  float: right;
  padding-right: 30px;
  padding-left: 0;
  width: 40%;
  margin: 20px 10px 0 10px;
}
.post-list-thumb-left .post-content-wrap {
  float: left;
  padding-left: 30px;
  padding-right: 0;
  text-align: right;
  margin: 20px 10px 10px 0;
}
.post-date,
.post-meta,
.post-meta a {
  color: #888;
  font-size: 12px;
}
.post-list-thumb i {
  margin-right: 5px;
  color: #989898;
  font-size: 14px;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.post-list-thumb a {
  color: #504e4e;
}
.post-list-thumb .post-title h3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  word-wrap: break-word;
  transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}
.post-list-thumb .post-title h3:hover {
  color: #69d2e7;
}
.post-date,
.post-meta,
.post-meta a {
  color: #888;
  font-size: 12px;
}
.float-content {
  position: relative;
  width: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 50;
  color: rgba(0, 0, 0, 0.66);
}
.float-content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
}
.float-content {
  position: relative;
  width: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 50;
  color: rgba(0, 0, 0, 0.66);
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.float-content svg {
  font-size: 25px;
}
.float-content svg:hover {
  color: #69d2e7;
}
.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 1.5em;
}
.lazyload {
  transition: all 0.6s;
}

.lazyload:hover {
  transform: scale(1.1);
}
.changeSkin-gear {
  left: auto;
  right: 5px;
  position: fixed;
  width: auto;
  height: auto;
  z-index: 99;
  white-space: nowrap;
  padding: 10px 10px;
  border-radius: 10px 10px 0 0;
}
.changeSkin-gear,
.toc {
  background: rgba(255, 255, 255, 0.8);
}
.skin-menu.show {
  transform: scaleX(1);
}
.skin-menu {
  left: auto;
  right: 10px;
}
.skin-menu {
  position: fixed;
  bottom: 50px;
  height: auto;
  width: 220px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 40px -8px rgba(0, 0, 0, 0.5);
  z-index: 99;
  font-family: Ubuntu, sans-serif;
  transform: scaleX(0);
  transiton-property: transform, background;
  transition-duration: 0.3s, 0.3s;
}
.skin-menu .row-container {
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
.skin-menu .row-container .menu-list {
  display: block;
  text-align: center;
  padding: 0;
  margin: 10px auto;
}
.menu-list li {
  display: inline-block;
  margin: 6px;
  line-height: 36px;
  width: 36px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.skin-menu .row-container.font-family-controls {
  padding: 3px 12px 16px 12px;
}
.skin-menu .row-container {
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}
.font-family-controls button.selected {
  background-color: #fc3;
  color: #fff;
}
.menu-list li:hover {
  background-color: #fc3;
  color: #fff;
}
.skin-menu::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.no-select {
  user-select: none;
}
.comments-number {
  margin: 0 10px;
}
.post-list-thumb span svg {
  margin-right: 5px;
  color: #989898;
  font-size: 14px;
}
